
 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } 

.container{
   
    display: grid;
    width: 100vw;
    height: 100vh;
    
}





aside{
    display: grid;
    grid-column: 1;
    align-content: center;
    height: 100vh;
    position: fixed;
    width: 300px;
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.date{
    color: rgb(247, 243, 236);
    align-content:center;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: large;

}

.myPhoto{
    width: 70%;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid wheat;
    box-shadow: 0 10px 20px rgb(54, 52, 52)
}

.nav{
    display: grid;
    justify-items: center;
    margin-top: 2rem;
}

.nav button{
    font-size: 110%;
    color: wheat;
    margin-bottom: 1rem;
    transition:all 0.6s;
}

.nav button:hover{
    text-decoration: none;
    transform: scale(1.4);
}

main{
    display: grid;
    grid-template-columns: 300px 1fr;
   
}

.navBtn{
    width: 100px;
    height: 30px;
}

.main-area{
    grid-column: 2/3;
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.about{
    display: grid;
    align-content: center;
    height: 100vh;
    margin-left: 2rem;

}

.aboutText{
    margin: 2rem;
    font-size: xx-large;
    color: #ecedf0;
    
}

.education{
    display: grid;
    height: 100vh;
    margin-left: 2rem;
}

.educationGrid{
    display: grid;
    grid-template-columns: minmax(60px,200px) minmax(60px,200px) minmax(60px,200px);
    grid-template-rows: 100px 600px 100px;
    grid-template-areas: 
    "b1 b2 b3"
    "main main main"
    "footer footer footer";
    grid-column-gap: 1rem;
}

.g1{
    width: 400px;
    grid-row: 2;
    align-content: center;
}

.buttonrow{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-row: 1;
    
}

.b{
    margin-top: 2rem;
    height: 30px;
   
}

.b1{
    grid-area: b1;
    margin-left: 1rem
}

.b2{
    grid-area: b2;
}

.b3{
    grid-area: b3;
}

.img1{
   grid-area: main;
   width: 100%;
   height: auto;
   margin-top: 1rem;
   margin-left: 2rem;

}



.degreeInfo{
    grid-area: ff;
    width: 100%;
    height: auto;
}

.experince{
    display: grid;
    margin-left: 2rem;
    grid-template-columns: minmax(auto,100px) minmax(auto,100px) minmax(auto,100px) minmax(auto,100px) minmax(auto,auto) minmax(120px,auto);
    grid-template-rows: minmax(40px,auto) minmax(40px,auto) minmax(40px,auto) minmax(40px,auto) 100px 200px minmax(auto,200px) minmax(auto,200px);
    grid-template-areas: 
    "b4 b5 b6 b7 b8 empty1"
    "companyLogo company company company company company"
    "companyLogo title title title title title"
    "companyLogo role role role role role"
    "companyLogo empty4 prevBtn nextBtn empty5 empty5"
    "empty empty main main main main"
    "footer footer main main main main";
  
    grid-column-gap: 1rem;
    height: 100vh;
}

.b4{
    grid-area: b4;
    margin-left: 1rem;
}

.b5{
    grid-area: b5;
}

.b6{
    grid-area: b6;
}

.b7{
    grid-area: b7;
}

.b8{
    grid-area: b8;
}

.companyLogo{
    grid-area: companyLogo;
    width: 100%;
    height: auto;
    margin-top: 2rem;

}

.img2{
    grid-area: main;
   
    border: rgb(226, 153, 17) solid 5px;
    margin-top: 1rem;
    object-fit:cover;
    width: 400px;
    height: 337px;
 
 }

 .company{
     grid-area: company;
     color: rgb(240, 241, 245);
     font-weight: bold;
     width: 100%;
     margin-left: 2rem;
     margin-top: 2rem;
   
 }

 

 .experince span{
     color: rgb(41, 247, 34);
 }

 .title{
    grid-area: title;
    color: rgb(243, 243, 247);
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 2rem;
   
}

.role{
    grid-area: role;
    color: rgb(249, 249, 250);
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 2rem;
   
}

.nextBtn{
    grid-area: nextBtn;
    width: 70px;
    height: 30px;
    z-index: 5;
    margin-top: 3rem;
    margin-left: 2rem;
    
   
}

.prevBtn{
    grid-area: prevBtn;
    width: 70px;
    height: 30px;
    z-index: 5;
    margin-top: 3rem;
    margin-left: 2rem;
}

.skills{
    display: grid;
    /* grid-template-columns: minmax(60px,100px) minmax(40px,100px) minmax(40px,100px) minmax(60px,100px) minmax(60px,1fr) minmax(120px,1fr); */
    grid-template-columns: 30px 100px 100px 100px repeat(10,auto);
    grid-template-rows: repeat(9,auto);
    grid-template-areas: 
    "e b9 b10 b11 e1 e1 e1 e1 e1 e1 e1 e1 e1 e1"
    "t1 t1 t1 t1 t1 e2 e2 e2 e2 e2 e2 e2 e2 e2"
    "t2 t2 t2 t2 t2 e4 e4 e4 e4 e4 e4 e4 e4 e4"
    "t3 t3 t3 t3 t3 e6 e6 e6 e6 e6 e6 e6 e6 e6"
    "t4 t4 t4 t4 t4 e8 e8 e8 e8 e8 e8 e8 e8 e8";
   
   
    height: 100vh;
}

.skills span{
    font-size:xx-large;
}

.b9{
    grid-area: b9;
    transition:all 0.6s;
}

.b9:focus{
    box-shadow: rgb(233, 224, 224);
    
}

.b9:hover{
    border: rgb(231, 222, 240) 4px solid;
    transform: scale(1.1);

}

.b10{
    grid-area: b10;
    transition:all 0.6s;
}

.b10:focus{
    box-shadow: rgb(238, 234, 234);
    
}

.b10:hover{
    border: rgb(238, 234, 241) 4px solid;
    transform: scale(1.1);

}

.b11{
    grid-area: b11;
    transition:all 0.6s;
}

.b11:focus{
    box-shadow: rgb(247, 245, 245);
    
}

.b11:hover{
    border: rgb(249, 246, 252) 4px solid;
    transform: scale(1.1);

}

.t1{
    grid-area: t1;
    margin-left: 2rem;
   
}

.t2{
    grid-area: t2;
    margin-left: 2rem;
  
}

.t3{
    grid-area: t3;
    margin-left: 2rem;
   
}

.t4{
    grid-area: t4;
    margin-left: 2rem;
  
}





