<div class="container">

  <div class="mainDiv">

      <div class="photoDiv">
          fgdfgfdg
      </div>
    
      <div class="titleDiv">
          dfgdfg
      </div>
    
      <div class="menuDiv">
          <button class="b1 btn-danger">About Me</button>
          <button class="b2 btn-danger">Education</button>
          <button class="b3 btn-danger">Carieer</button>
      </div>
    
      <div class="contentDiv">
          sdgdfg
      </div>

  </div>
  
 

 




</div>
<!--End of Container -->