<div class="container">

  <div class="mainDiv">

      <div class="photoDiv">
        
      </div>
    
      <div class="titleDiv">
       
      </div>
    
      <div class="menuDiv">
          <button class="b1 btn-success">About Me</button>
          <button class="b2 btn-success">Education</button>
          <button class="b3 btn-success">Courier</button>
          <button class="b4 btn-success">Projects</button>
      </div>
    
      <div class="contentDiv">
        
      </div>

  </div>
  
 

 




</div>
<!--End of Container -->