<div class="container">

  <div class="mainDiv">

      <div class="photoDiv">
          
      </div>
    
      <div class="titleDiv">
          {{currentDateTime}}
      </div>
    
      <div class="menuDiv">
          <button class="b1 btn-danger">About Me</button>
          <button class="b2 btn-danger">Education</button>
          <button class="b3 btn-danger">Courier</button>
          <button class="b4 btn-danger">Projects</button>
      </div>
    
      <div class="contentDiv">
         
      </div>

  </div>
  
 

 




</div>
<!--End of Container -->