.container{
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
   background: rgba(127, 81, 173, 0.705);
    border-style: double;
    
}

.mainDiv{
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
}

.photoDiv{
    grid-row: 1;
    grid-column: 1;
    background: red;

}

.titleDiv{
    grid-row: 1;
    grid-column: 2;
    background: blue;
    
}

.menuDiv{
    grid-row: 2;
    grid-column: 1;
    background:yellow;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-row-gap: 10px;
}

.b1{
    grid-row: 2;
    grid-column: 2;
}

.b2{
    grid-row: 3;
    grid-column: 2;
}

.b3{
    grid-row: 4;
    grid-column: 2;
}

.contentDiv{
    grid-row: 2;
    grid-column: 2;
    background: violet;
    
}








